<phpunit bootstrap="src/autoloader.php">
    <testsuites>
        <testsuite name="project">
            <file>tests/FormHelper_Common_Test.php</file>
        </testsuite>

        <testsuite name="working">
            <file>tests/FormHelper_Input_Test.php</file>
        </testsuite>

    </testsuites>
</phpunit>